@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* HEADER */
.header{
  display: flex;
  color: aliceblue;
  background-color: #1F2937;
  align-items: center;
  justify-content: space-evenly;
}

.rightlinks{
  display: flex;
  justify-content: space-between;
  gap: 18px;
}

ul {
  list-style-type: none;
}
/* END-HEADER */
/* TOPCONTENT */

body {
  background-color: #f4f4f4;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}


.TopContent{
  display: flex;
  flex: 1;
  padding: 4%;
  color: aliceblue;
  justify-content:center;
  align-content: center;
  z-index: 2;
  background-color: #1F2937;
}

.LeftTopContent{
  /*border: 10px solid blue;*/
  z-index: 3;
  padding-left: 9%;
  display: flex;
  flex:1;
  flex-direction: column;
  color: aliceblue;
  align-items: flex-start;
  background-color: #1F2937;
}

#headerButton{
  color:aliceblue;
  background-color: #3882F6;
  border-color: #3882F6;
  border-radius: 8px;
}

.RightTopContent{
  /*border: 10px solid red;*/
  padding-right: 9%;
  padding-left: 9%;
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

/* END-TOPCONTENT */
/* MIDLE-CONTENT1 */
.midle-content1{
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.all_portrait{
  display: flex;
  align-items: center;
  justify-content: center;

}

.portrait{
  text-align: center;
  display: flex;
  flex:1;
  padding: 20px;
  flex-direction: column;
  align-items: space-evenly;
}

/*END-MIDLE-CONTENT1 */
/* MIDLE-CONTENT2 */
.midle-content2{
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #E5E7EB;
}

#Author{
  display: flex;
  align-self: flex-end;
}

/* END-MIDLE-CONTENT2 */
/* BOTTOM-CONTENT*/
.bottom-content{
  display: flex;
  padding: 3%;
  justify-content: center;
  align-items: center;
}

.blue_border{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 10px;
  color:#f4f4f4;
  align-items: center;
  justify-content: space-evenly;
  background-color: #3882F6;
}

.bottom-txt{
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

#action_button{
  background-color: #3B82F6;
  color:#f4f4f4;
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  padding-right: 10%;
}

#title-action{
  margin-bottom: 0;
  padding-bottom: 0;
}

#txt-action{
  padding-top: 0;
  margin-top: 0;
}
/* END-BOTTOM-CONTENT*/
/* FOOTER */

.footer{
  display: flex;
  padding: 1%;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #1F2937;
}


img {
  display: block;
  max-width:100%;
  max-height:100%;
  width: auto;
  height: auto;
}
