body{
  background-color: #262626;
  color: white;
}

.title{
  color:#FBF1C7;
  display: flex;
  justify-content:center;
}

.ligne{
  display: flex;
  justify-content:center;
}

.block{
  border-style: solid;
  padding: 1%;
  background-color: white;
  border-color: red;
}
