body{
  background-color: #262626;
  color: white;
}

nav{
  display: flex;
  justify-content:center;
  padding-bottom: 10px;
}

input{
  background-color:#3C3836;
  margin: .1rem;
  border-radius: 20%;
  color: white;
  margin-left: 2%;
  margin-right: 2%;
}

.title{
  color:#FBF1C7;
  display: flex;
  justify-content:center;
}

.ligne{
  display: flex;
  justify-content:center;
}

.block{
  border-style: solid;
  padding: 1%;
  background-color: white;
  border-color: red;
}
