
body{
  background-color: #282828;
  display: flex;
  justify-content: center;
}

#border{
  margin-top: 3em;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 50em;
  width: 30em;
  border: solid #504945;
  border-radius: 2em;
  background-color: #d5c4a1;
}

.ligne1,
.ligne2,
.ligne3,
.ligne4,
.ligne5{
  display: flex;
  justify-content: center;
  margin: 1.5em 1.5em 1.5em 1.5em;
  margin-top: 0.1em;
}

.ligne1{
  margin-top: 1.5em;
}


input{
  background-color: #FBF1C7;
  border-style: solid;
  border: solid #504945;
  border-radius: 1em;
}

#division,
#multiply,
#add,
#minus,
#equal{
 background-color: #fe8019;
}

#division:hover,
#multiply:hover,
#add:hover,
#minus:hover,
#equal:hover{
 background-color: #d65d0e;
}

#division:active,
#multiply:active,
#add:active,
#minus:active,
#equal:active{
 background-color: #fb4934;
}

input:hover{
  background-color: #ebdbb2;
}

input:active{
  background-color: #fb4934;
}


.result{
  margin-left: 1em;
}

#last_result{
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}

.numpad,
#modulo,
#division,
#dot,
#equal{
 padding: 2em;
 margin: .3em 1.5em .10em .7em;
}


#clear,
#zero{
 padding: 2em;
 padding-left: 5.5em;
 padding-right: 5.5em;
 margin: .3em 1.5em .10em .7em;
}



#screen{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin-top: 3em;
  margin-left: 1.5em;
  height: 10em;
  width: 26em;
  border: solid #504945;
  border-radius: 2em;
  background-color: #a89984;
}

