body{
  background-color: #262626;
}

.title,
.score{
  color:#FBF1C7;
  display: flex;
  justify-content:center;
}


.topPyramide,
.BottomPyramide{
  display: flex;
  justify-content:center;
}

.Fire,
.Water,
.Grass{
  color: #fff;
  background-color:#3C3836;
  border-radius: 10%;
  height:15%;
  width:15%;
}


.Fire:hover{
  background-color:#FE8019;
}

.Water:hover{
  background-color:#83A5C3;
}

.Grass:hover{
  background-color:#98971A;
}


.Grass:active,
.Water:active,
.Fire:active{
  background-color:#D79921;
}
